.warp{
    width: 1024px;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.header a{
    text-decoration: none;
}
.header .logo .logo_Info a{
    background-image: url(../images/logo.png);
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    height: 50px;
    width: 200px;
}
.header ul{
    display: flex;
    height: 50px;
    align-items: center;
}
.header ul li{
    padding: 0 20px;
}
.header ul li a{
    padding: 15px 0;
    display: block;
    color: #00cc98;
}
.header ul li:hover{
    border-bottom: 3px solid #00ffa2;
}